body {
  background:#000000;
}

footer {
  background:#ffffff;
}

.internal-link {
text-decoration: none;
color: #000000;
}

th {
font-weight: normal;
text-align: left;
}

#video {
background-color: black;
text-align: center;
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#video-title {
  font-family: Google Sans;
  color: #ffffff;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid black;
  font-family: Google Sans;
  font-weight: bold;
  
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

#desc, #lyrics, #more, #related {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f9f9f9;
  border: 1px solid black;
  font-family: Roboto Condensed;
}

.more-thumbnail, .related-thumbnail {
}

.more-artist, .related-artist {
  padding-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

.more-title, .related-title {
  padding-bottom: 15px;
  font-size: 22px;
  font-style: italic;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Google Sans;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.current {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-family: Google Sans;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.footer {
  font-family: Roboto Condensed;
  text-align: center;
}
